{% extends 'layout.html' %}


{% block body %}
{% csrf_token %}
<div class="grid-100">
	<h1>Your awesome profile!</h1>
	<p>  </p>
	<h3>Profile Picture</h3>
	{% if user.profile.avatar %}
	<img src="{{ user.profile.avatar.url }}">
	{% else %}
	<em>Edit your profile to upload a profile picture!</em>
	<p>  </p>
	{% endif %}
	<h3>Username</h3>
	<p>{{ user.username }}</p>
	<h3>First Name</h3>
	{% if user.first_name %}
	<p>{{ user.first_name }}</p>
	{% else %}
	<em>Edit your profile to add your first name!</em>
	<p>  </p>
	{% endif %}
	<h3>Last Name</h3>
	{% if user.last_name %}
	<p>{{ user.last_name }}</p>
	{% else %}
	<em>Edit your profile to add your last name!</em>
	<p>  </p>
	{% endif %}
	<h3>Email</h3>
	<p>{{ user.email }}</p>
	<h3>Date of Birth</h3>
	{% if user.profile.birthdate %}
	<p>{{ user.profile.birthdate }}</p>
	{% else %}
	<em>Edit your profile to add your birth date!</em>
	<p>  </p>
	{% endif %}
	<h3>Biography</h3>
	{% if user.profile.bio %}
	<p>{{ user.profile.bio }}</p>
	{% else %}
	<em>Edit your profile to add your biography!</em>
	<p>  </p>
	{% endif %}
</div>
{% endblock %}