{% extends 'layout.html' %}


{% block body %}
{% csrf_token %}
<div class="grid-75">
	<h1>Your freaking awesome profile!</h1>
	<h2>Profile Picture</h2>
	{% if user.profile.avatar %}
		<img src="{{ user.profile.avatar.url }}">
	{% endif %}
	<h2>Username</h2>
	<p>{{ user.username }}</p>
	<h3>First Name</h3>
	<p>{{ user.first_name }}</p>
	<h4>Last Name</h4>
	<p>{{ user.last_name }}</p>
	<h5>Email</h5>
	<p>{{ user.email }}</p>
	<h6>Date of Birth</h6>
	<p>{{ user.profile.birthdate }}</p>
	<h7>Biography</h7>
	<p>{{ user.profile.bio }}</p>
</div>
{% endblock %}